.App {
  padding: 2rem;
  background-image: url("./../public/images/IMG_8661-removebg.png");
  background-size: 40%;
  background-position: 100% 0%;
  background-repeat: no-repeat;
}

.landing-container {
  max-width: 50%;
}

.buttons button{
  display: block;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 4rem;
}

.subtitle {
  font-size: 1.3rem;
  color: #666;
}

.small-header {
  font-size: .9rem;
  color: #666;
  letter-spacing: .2rem;
  text-transform: uppercase;
  line-height: 0;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  text-align: center;
}
